.nav {
  background: var(--card-bg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo {
  height: 40px;
  width: auto;
}

.toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.toggleButton:hover {
  transform: scale(1.125);
}

.toggleButton svg {
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 30px;
  }
}
