.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: var(--shapes);
  background-size: 600% 600%;
  position: relative;
  animation: gradientAnimation 15s ease infinite;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ensure the pseudo-element covers the full height of the container */
  min-height: 100%; /* Ensure the pseudo-element covers at least the viewport height */
  background: var(--noise);
  background-repeat: repeat;
  background-size: auto;
  z-index: -1;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ensure the pseudo-element covers the full height of the container */
  min-height: 100%; /* Ensure the pseudo-element covers at least the viewport height */
  background: var(--gradient);
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease infinite;
  z-index: -2;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 2rem;
}

.card {
  background: var(--card-bg);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  color: var(--text-color);
  max-width: 600px;
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 4rem;
  }
}
