@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #ffffff;
  --text-color: #000000;
  --card-bg: rgba(255, 255, 255, .1);
  --gradient: linear-gradient(45deg, #8b95a0, #d5d5d5, #a4afba, #7b858e);
  --shapes: url("/light-shapes.svg");
  --noise: url("/noise-texture.png");
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 55, 55, 55;
  --background-end-rgb: 33, 33, 33;

  --background-color: #161f28;
  --text-color: #f1f1f1;
  --card-bg: rgba(0, 0, 0, 0.4);
  --gradient: linear-gradient(45deg, #040608, #161f28, #1e262f, #090c10);
  --shapes: url("/dark-shapes.svg");
  --noise: url("/noise-texture.png");
}

body {
  background-color: var(--background-color);
  overflow-y: auto;
  color: var(--text-color);
}

[data-theme="dark"] {
  --background-color: #161f28;
  --text-color: #f1f1f1;
  --card-bg: rgba(0, 0, 0, 0.4);
  --gradient: linear-gradient(45deg, #040608, #161f28, #1e262f, #090c10);
  --shapes: url("/dark-shapes.svg");
  --noise: url("/noise-texture.png");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.highlight {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    background-size: 300% 300% !important;
    background-position: 0 50%;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background: linear-gradient(
      60deg,
      hsl(256, 68%, 55%),
      hsl(269, 85%, 66%),
      hsl(261, 46%, 74%),
      hsl(314, 85%, 66%),
      hsl(37, 95%, 56%)
    );
    animation: backgroundAnimate 3s alternate infinite;
  }
}

.text-highlight {
  position: relative;
  display: flex;

  &::after {
    position: absolute;
    content: "";
    background-size: 300% 300% !important;
    background-position: 0 50%;
    width: 5px;
    height: 15px;
    left: -1rem;
    top: 6px;
    background: linear-gradient(
      60deg,
      hsl(256, 68%, 55%),
      hsl(269, 85%, 66%),
      hsl(261, 46%, 74%),
      hsl(314, 85%, 66%),
      hsl(37, 95%, 56%)
    );
    animation: backgroundAnimate 1s alternate infinite;
  }
}

@keyframes backgroundAnimate {
  50% {
    background-position: 100% 50%;
  }
}

/* SVG Title */
.svg-container {
  height: auto;
  overflow: auto;
}

svg {
  width: 100%;
  height: 100%;
}

svg text {
  text-transform: uppercase;
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #111827;
  font-size: 140px;
}

@keyframes stroke {
  0% {
    fill: transparent;
    stroke: rgba(13, 24, 39, 0.4);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    stroke: rgba(13, 24, 39, 0.6);
  }

  80% {
    stroke: rgba(13, 24, 39, 0.8);
    stroke-width: 3;
  }

  100% {
    fill: rgba(13, 24, 39);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* Body BG Animations */
@-webkit-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-o-keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
